@extends('layouts.admin')

@section('title',"Ajout %%crudNameCap%%")
@section("content")
<div class="row">
@include('admin.includes.promoteur-menu-top')
@include('admin.includes.promoteur-menu-profil')
    <div class="col-md-7 col-lg-8">
        <div class="card mb-5">
            <header class="card-header bg-light border-bottom">
                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="h4 text-uppercase card-header-title text-primary">
                        NOUVEAU %%crudNameCap%%
                    </h2>
                    <a href="{{ url('/%%routeGroup%%%%viewName%%?promoteur_id='.$promoteur->id) }}" title="Back"><button class="btn btn-outline-primary btn-xs mt20"><i class="ti-arrow-left" aria-hidden="true"></i> Retour</button></a>
                </div>

                <span class="text-muted">Ajout %%crudNameCap%%</span>
            </header>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="car h-100 pt-4">
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-md-12">

                                @if ($errors->any())
                                    <ul class="alert alert-danger">
                                        @foreach ($errors->all() as $error)
                                            <li>{{ $error }}</li>
                                        @endforeach
                                    </ul>
                                @endif

                                {!! Form::open(['url' => '/%%routeGroup%%%%viewName%%', 'class' => 'form-horizontal', 'files' => true]) !!}

                                @include ('%%viewTemplateDir%%.form')

                                {!! Form::close() !!}
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
