@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Arimo', sans-serif;
  line-height: 1.3em;
  font-weight: 700;
  color: #333333;
}

.feuture-posts .small-section h3 {
  font-size: 15px;
}

.sidebar-carousel .fbt-hr-crs .post-item h3,
.fbt-vc-inner.nude.large .post-content h3,
.fbt-vc-inner .post-content h3 {
  font-size: 18px;
}

.mega-item h3,
.fbt-hr-crs .post-item h3,
.gallery-img .img-thumb .img-credits h3,
.author-posts .post-content h3,
.fbt-vc-inner .small .post-content h3 {
  font-size: 14px;
}

.biography-carousel .fbt-hr-crs .post-item h3,
.fbt-vc-inner.nude .post-content h3 {
  font-size: 16px;
}

.bgallery .img-thumb .img-credits h3 {
    font-size: 25px;
}

.tab-pane .fbt-vc-inner .img-thumb .img-credits h3 {
  font-size: 16px;
}

body {
 background-image: url(img/body-bg.png);
 background-color: #f1f4f9;
 background-repeat: repeat;
 background-position: top center;
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1300px;
  }
}

.container-box {
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 3px #CACACA;
  -moz-box-shadow: 0 0 3px #cacaca;
  box-shadow: 0 0 3px #CACACA;
}

@media (min-width: 768px) {
  .container-box {
    max-width: 780px;
  }
}

@media (min-width: 992px) {
  .container-box {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container-box {
    max-width: 1130px;
  }
}

@media (min-width: 1600px) {
  .container-box {
    max-width: 1330px;
  }
}

.header-wrapper {
  padding: 22px 0 18px;
  background: #ffffff;
}

.navbar-default.dark {
  background: #111111;
  margin: 0;
  box-shadow: none;
}

.navbar-form {
  margin: 5.5px 0 0;
  padding: 0;
}

.navbar-default .navbar-form {
    border: 1px solid #383838;
}

.navbar-form.dark input[type="text"] {
    background: #3f3d3d;
    border: 1px solid #222222;
}

#fp-container {
  padding: 30px 0 0;
}

nav a.prev,
nav a.fp-prev {
  left: 0;
}
nav a.next,
nav a.fp-next {
  right: 2px;
}
nav a.prev .fa,
nav a.next .fa,
nav a.fp-prev .fa,
nav a.fp-next .fa {
  font-size: 30px;
  color: #ffffff;
  opacity: .5;
  transition: .3s ease-in-out;
  width: 26px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  background: #000000;
}

.post-left-sidebar .widget,
.left-sidebar .widget {
  padding: 5px 15px 0;
  margin-bottom: 35px;
}

.left-sidebar .post-item .img-thumb {
  height: 120px;
}

.left-sidebar .post-content,
.left-sidebar .post-content .post-info span,
.post-left-sidebar .post-content,
.post-left-sidebar .post-content .post-info span {
  text-align: center;
  float: none;
}

@media (max-width: 1599px) {
	.post-left-sidebar, 
	.left-sidebar {
		display: none;
	}
}

.post-left-sidebar .post-item h3, 
.left-sidebar .post-item h3 {
  color: #ffffff;
  font-size: 14px;
}

.left-sidebar .post-item .post-info,
.post-left-sidebar .post-item .post-info {
    color: #ffffff;
}

.post-left-sidebar .post-item:hover h3, 
.left-sidebar .post-item:hover h3 {
  color: #000000!important;
}

.post-left-sidebar .title-wrapper,
.left-sidebar .title-wrapper {
  text-align: center;
  padding: 0;
  margin-bottom: 16px;
  background: transparent;
}

.post-left-sidebar .title-wrapper h2 span,
.left-sidebar .title-wrapper h2 span {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.navbar-default {
  height: 55px;
}

.navbar-default.dark {
  background: #2d2d2d;
  border-bottom: 3px solid #e89319;
  margin: 0;
  box-shadow: none;
  position: relative;
}

.navbar-default.dark .navbar-nav > li {
  border: 1px solid #222222;
  border-width: 0 1px 0 0;
}

.navbar-default.dark .navbar-nav > li > a {
  border: 1px solid #383838;
  border-width: 0 1px 0 0;
  padding: 0 10px;
  font-family: 'Arimo', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: none;
  line-height: 52px;
  transition:all .3s ease-in-out;
  color: #ffffff;
}

.navbar-default.dark .navbar-nav > li:first-child > a {
  border: 0;
  background: #e89319;
  font-size: 25px;
}

.dropdown-menu {
  background-color: #2d2d2d;
  border: 0;
  border-top: 2.5px solid #e89319!important;
  box-shadow: none;
}

ul.dropdown-menu > li {
  border-top: 1px solid #222222;
  background-color: #2d2d2d;
}

ul.dropdown-menu > li > a {
  display: block;
  padding: 9px 0 9px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #ffffff;
  white-space: nowrap;
  font-size: 12px;
  transition: all .3s ease-in-out;
  border-top: 1px solid #383838;
}

ul.dropdown-menu > li > a:focus,
ul.dropdown-menu > li > a:hover {
  background: #2d2d2d;
  color: #ffffff;
}

.megamenu .dropdown-menu.fullwidth {
  box-shadow: none;
  border: none;
  background: transparent;
  border-top: 3px solid #e89319;
}

ul.dropdown-menu.fullwidth>li {
  box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0;
  padding: 10px 20px 0;
  background: #2d2d2d;
}

@media (max-width: 767px) {
	.dropdown-menu {
		border-top: 0!important;
	}
	
	.navbar-default .navbar-nav > li,
	.navbar-default .navbar-nav > li > a {
	  border-width: 0!important;
	}
}

.bgallery {
  padding: 65px 0;
}
.bgallery .img-thumb {
  height: 380px;
}
@media (max-width: 1366px) {
  .bgallery .img-thumb {
     height: 280px;
  }
}

@media (max-width: 767px) {
  .bgallery .img-thumb {
    height: 180px;
  }
}

.post-item:hover .post-content h3 {
  color: #e89319
}

.headline-title {
  background: #e89319;
}

.headline-title h5 {
  line-height: 39px;
  font-size: 14px;
}

.title-wrapper {
  padding: 0;
  margin-bottom: 20px;
  background: #333333;
}

.title-wrapper h2 {
  font-size: 14px;
}

.title-wrapper h2 span {
  display: block;
  padding: 10px 12px;
  position: relative;
}

.title-wrapper h2 span:after {
  border-color: #333333 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);;
  position: absolute;
  content: " ";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 30px;
  border-width: 10px;
  border-style: solid;
}

.post-left-sidebar .title-wrapper h2 span:after, 
.left-sidebar .title-wrapper h2 span:after {
	border-width: 0;
}

.owl-theme .owl-controls {
  top: -67px;
}
.owl-theme .owl-controls .owl-buttons div {
  width: 25px;
  height: 25px;
  line-height: 17px;
  text-align: center;
  background: transparent;
  border: 0;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  background: transparent;
  border: 0;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev:after {
  content: '\f104';
  font-family: 'FontAwesome';
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: rgba(255,255,255,.8);
  font-size: 25px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next:after {
  content: '\f105';
  font-family: 'FontAwesome';
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: rgba(255,255,255,.8);
  font-size: 25px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev:hover:after {
  color: #ffffff;
}

.owl-theme .owl-controls .owl-buttons div.owl-next:hover:after {
  color: #ffffff;
}

.fa-icon-wrap a:hover,.fa-icon-wrap a:active {
  color: #e89319;
}

.tooltip-inner {
  background-color: #e89319;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #e89319;
}

.tooltip.top-left .tooltip-arrow {
  border-top-color: #e89319;
}

.tooltip.top-right .tooltip-arrow {
  border-top-color: #e89319;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #e89319;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #e89319;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #e89319;
}

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #e89319;
}

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #e89319;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #e89319;
}

.nav-tabs > li > a {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

.main-carousel .carousel-content-box  {
  margin-left: -4px;
  margin-right: -5px;
}

.main-carousel .carousel-content-box .owl-carousel .img-thumb {
	height: 150px;
}

.main-carousel .post-content {
	padding: 10px 0 0;
}

.main-carousel .post-content h3 {
	color: #333333;
}

.main-carousel .fbt-hr-crs .post-item .post-info span {
	color: #777777;
}

.main-carousel  .fbt-hr-crs.item {
    padding: 0 5px;
}

.sidebar-carousel .img-credits {
    text-align: left;
}

.first-post .rating .fa,
.post-left-sidebar .rating {color: #EBF55C;}

.color-1 {background: #83aeeb;}
.color-1 h2 span:after {border-color: #83aeeb rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-2 {background: #2adca1;}
.color-2 h2 span:after {border-color: #2adca1 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-3 {background: #e89319;}
.color-3 h2 span:after {border-color: #e89319 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-4 {background: #0099cc;}
.color-4 h2 span:after {border-color: #0099cc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-5 {background: #14bb82;}
.color-5 h2 span:after {border-color: #14bb82 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-6 {background: #72347d;}
.color-6 h2 span:after {border-color: #72347d rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-7 {background: #2adca1;}
.color-7 h2 span:after {border-color: #2adca1 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-8 {background: #00bfff;}
.color-8 h2 span:after {border-color: #00bfff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-9 {background: #E74C3C;}
.color-9 h2 span:after {border-color: #E74C3C rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-10 {background: #2874A6;}
.color-10 h2 span:after {border-color: #2874A6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-11 {background: #F4D03F;}
.color-11 h2 span:after {border-color: #F4D03F rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-12 {background: #707B7C;}
.color-12 h2 span:after {border-color: #707B7C rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-13 {background: #5499C7;}
.color-13 h2 span:after {border-color: #5499C7 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-14 {background: #34495E;}
.color-14 h2 span:after {border-color: #34495E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.color-15 {background: #d8b42b;}
.color-15 h2 span:after {border-color: #d8b42b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.bgallery {background: #222222;}

.fbt-resize:hover {
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
}

.fbt-resize .video-icon {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  color: #fff;
  opacity: 0.8;
  font-size: 15px!important;
  line-height: 0.5em;
  outline: none;
  padding: 8px 17px 9px 19px;
  background: #111;
  border-radius: 8px;
  webkit-transform: translateY(-50%) translatey(-50%);
  -moz-transform: translateY(-50%) translatey(-50%);
  transform: translateY(-50%) translatey(-50%);
  -webkit-transform: translateX(-50%) translatey(-50%);
  -moz-transform: translateX(-50%) translatey(-50%);
  transform: translateX(-50%) translatey(-50%);
  transition: .2s ease-in-out;
}

.fbt-resize .video-icon .fa {
	color: #ffffff;
	font-size: 15px!important;
	position: relative;
	top: 0;
	left: 0;
}

.bgallery .video-icon,
#fp-container .video-icon {
  font-size: 20px!important;
  line-height: 0;
  padding: 10px 22px 10px 24px;
}

.fbt-resize:hover .video-icon {
  background: #ff0000;
}

.first-post {height: auto;}
.first-post .img-thumb {height: 400px;}
.video-preview {position: relative;}
.first-post .img-thumb .img-credits h3,
.first-post .video-preview .img-credits h3 {
	font-size: 22px; 
	color: #ffffff; 
	text-decoration: none; 
	margin-bottom: 5px;
}

.footer-wrapper .widget-title h2 {
	font-size: 14px;
}

.fbt-related-posts .img-thumb {
	margin: 0;
}

.single-post .fbt-contact-box {
	margin-bottom: 35px;
}

.single-post .post-title h1 {
	font-size: 30px;
}

.fbt-contact-box .title-wrapper h2,
.fbt-related-posts .title-wrapper h2 {
    font-size: 14px;
    color: #ffffff;
}

.fbt-contact-box .title-wrapper h2 span,
.fbt-related-posts .title-wrapper h2 span {
    padding-left: 12px;
    padding-right: 0;
    border-top: 0;
}

.classic-tube .bgallery {
    padding: 50px 0;
	background: #7A8593;
}

.classic-tube .post-info,
.classic-tube .post-info a {
    font-weight: 600;
    color: #ffffff;
    transition: .2s ease-in-out;
}

.classic-tube .post-container .fbt-vc-inner .img-thumb {
    height: 150px;
}

.classic-tube .fbt-vc-inner .post-content h3 {
    font-size: 15px;
}

.classic-tube .post-container .big-post-grid .img-thumb {
	height: 170px;
}

@media (max-width: 480px) {
	.post-grid {
		width: 100%;
	}
  
}
@media (max-width: 780px) {
  
  .single-post .post-title h1{
    font-size: 100% !important;
    font-weight: bold;
  }
}

.classic-blog2 #main-content {
	margin-top: 30px;
}

.classic-blog2 #fp-container {
	padding: 0;
}

.author-posts .img-thumb {
    height: 150px;
}

