@extends('layouts.admin')

@section('title',"%%crudNameCap%%s")
@section('content')
<div class="row">

@include('admin.includes.promoteur-menu-top')
@include('admin.includes.promoteur-menu-profil')
    <div class="col-md-7 col-lg-8">
        <div class="card mb-5">
                <header class="card-header bg-light border-bottom">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2 class="h4 text-uppercase card-header-title text-primary">
                            %%crudNameCap%%s
                        </h2>
                        <a href="{{ url('/%%routeGroup%%%%viewName%%/create?promoteur_id='.$promoteur->id) }}" class="btn btn-primary btn-xs mt-0 pull-rights " id="addbtns" title="Ajouter %%modelName%%">
                            <span class="ti-plus"></span> Créer nouveau
                        </a>
                        <!-- End Card Icons -->
                    </div>

                    <span class="text-muted">Liste des %%crudNameCap%%s</span>
                </header>
                <div class="row">
                    <div class="col-md-12 mb-5">
                            <div class="h-100 pt-4">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {!! Form::open(['method' => 'GET', 'url' => '/%%routeGroup%%%%viewName%%', 'class' => 'navbar-form navbar-right mt30', 'role' => 'search'])  !!}
                                            
                                            <div class="input-group h-100">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="ti-search"></span>
                                                    </span>
                                                </div>
                                                <input class="form-control form-control-sm" type="search" placeholder="Rechercher dans les %%modelName%%s" value="{{ isset($_GET['search'])?$_GET['search']:NULL }}" name="search">
                                                
                                            </div>
                                            {!! Form::close() !!}
                                            </div>
                                            <div class="col-md-6">
                                    
                                            </div>
                                    </div>
                                    <br/>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>#</th>%%formHeadingHtml%%<th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <?php
                                                $i=0;
                                            ?>
                                            @foreach($%%crudName%% as $item)
                                                <?php
                                                    $i++;
                                            ?>
                                            <tr>
                                                <td>{{ $item->id }}</td>
                                                %%formBodyHtml%%
                                               
                                                <td width="5%" nowrap="nowrap">
                                                    <a href="{{ url('/%%routeGroup%%%%viewName%%/' . $item->%%primaryKey%%).'?promoteur_id='.$promoteur->id}}" title="Voir ce %%modelName%%"><i class="ti-eye" ></i> </a>&nbsp;&nbsp;&nbsp;
                                                    <a href="{{ url('/%%routeGroup%%%%viewName%%/' . $item->%%primaryKey%% . '/edit'.'?promoteur_id='.$promoteur->id) }}" title="Modifier ce %%modelName%%"><i class="ti-pencil-alt"></i></a> 
                                                    {!! Form::open([
                                                        'method'=>'DELETE',
                                                        'url' => url('/%%routeGroup%%%%viewName%%', $item->%%primaryKey%%.'?promoteur_id='.$promoteur->id),
                                                        'style' => 'display:inline'
                                                    ]) !!}
                                                        {!! Form::button('<i class="ti-trash" aria-hidden="true"></i>', array(
                                                                'type' => 'submit',
                                                                'class' => 'btn btn-sm text-danger btn-circle  btn-xs',
                                                                'title' => 'Suppression de ce %%modelName%%',
                                                                'onclick'=>'return confirm("Voulez vous vraiment supprimer cet élément ?")'
                                                        )) !!}
                                                    {!! Form::close() !!}

                                                </td>

                                            </tr>
                                        @endforeach
                                       <tr>
                                            <td colspan="6" class="text-center">
                                            @if($i==0)
                                                <div class="cardswell">
                                                    0 %%modelName%% à afficher
                                                </div>
                                            @endif
                                            </td>
                                        </tr>

                                     </tbody>
                                    </table>
                                    <div class="pagination-wrapper"> {!! $%%crudName%%->appends(['search' => Request::get('search')])->render() !!} </div>
                                </div>

                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
    
@endsection
